*{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}
p{
  margin: 0px;padding: 0px;
}
b{
    color: chocolate;
}
.info{
    margin-top: 5%;
    padding: 5px;
    border: 1px;
    border-color: cyan;
    border-radius: 5px;
    width: 100%;
    float: left;
    background: white; 
    margin-bottom: 5%;
}
.info p{
    font-size: 12px;
}
.info h6{
    color: chocolate;
}
.image{
    width: 100%;
}
.rightDiv{
    width: 100%;
    margin-bottom: 1%;
    background-color: white;
    float: left;
}
.topic{
    padding-left: 2%;
    width: 100%;
    background-color: aqua;
    color: chocolate;
}
.rightDiv p{
    font-size: 15px;
}
.rightDiv p i{
    color: chocolate;
}
.leftDiv{
    float: left;
    background-color: white;
    margin-top: 5%;
    margin-right: 0px;
    padding: 1%;
}